<p>
  {{this.header}}
</p>

{{#each this.content}}
  {{#if this.data.text}}
    {{this.data.text}}
  {{/if}}

  {{#if this.data.embed}}

    <iframe
      width="560"
      height="315"
      src={{this.data.embed}}
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

  {{/if}}

{{/each}}

<p>Shared by: {{this.author.username}}</p>


<p>
 <form action="/posts/{{this._id}}/delete" method="POST">
    <button class="button is-link is-warning">Delete</button>
  </form>
</p>


